<section>
	<h1>Welcome to the Behavioural Questions RESTful API Guide</h1>
	<p>Records will be returned in the following JSON format:</p>
	<code>
		&lbrace; "_id": a unique ID Number, in BSON format allocated
		automatically.<br />
		,"question": a String which poses the question you want to ask. <br />
		,"values": An array of strings with leadership values [], &rbrace;
	</code>
	<p>Submit your api requests in the following format,</p>
	<p>n.b. _id is allocated automatically for new records</p>
	<code>
		&lbrace;"question": "a String which poses the question you want to ask."
		<br />
		,"values": ["An array", "of strings with", "leadership values" ]&rbrace;
	</code>
</section>
