<nav>
	<h3>Recruitment API</h3>
	<ul>
		<li><a href="/">RESTful API Guide</a></li>
		<li><a href="/random">Random Question List</a></li>
		<li><a href="/questionForm">Submit a new Question</a></li>
		<!-- <li><a href="/questionList">Full Question List</a></li> -->
		<li><a href="/values">Search by Values</a></li>
	</ul>
</nav>
