<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
        <link rel="stylesheet" href="css\style.css">
		<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
		<script src="https://kit.fontawesome.com/e107b5abdd.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<section>
			<h1>Welcome to the Behavioural Questions RESTful API Guide</h1>
			<p>Records will be in the following JSON format:</p>
			<code
				>{</br> "_id": a unique ID Number, in BSON format allocated automatically.</br> "question": a String - "Question must be
				in the format - Can you give me an example of a time when X? Don't be
				tempted to lead",</br> "answer": a String - "Answer with CAR - Cause, Action,
				Result. Don't use hypotheticals, don't generalise - think of a specific
				example",</br> "answered": a boolean "TRUE",</br> "values": An array of strings with
				leadership values [], </br>}
			</code>
		</section>
        <ul>
            <a href="/"><li>Behavioural Questions RESTful API Guide</li></a>
            <a href="/list"><li>Generate a List of Behavioural Questions</li></a>
            <a href="/newQuestion"><li>Add a new Question to the Database</li></a>
        </ul>
        <h1>Generate a List of Behavioural Questions</h1>
        <h2>First Choose the Leadership Values</h2>
        <span>You can choose up to 10 Values</span>
        <span>The API will select up to 10 Unique questions from the database tagged with your values</span>
		<h2>
			Search for Values
		</h2>
		<h3>Search for 10 Random Questions</h3>
		<form action="/randomSearch">
			<input type="submit" name="randomSearch" value="Search Now">
		</form>
		<h3>Search for 10 Questions by Value</h3>
		<form action="/valueSearch">
			<input type="text" placeholder="value" name="value">
			<input type="submit">
		</form>
		<h2>
			Question List
		</h2>
		<ul class="random">
			<% for (let i=0; i< info.length; i++) {%>
				<li class="random">
					<span><%= info[i].question%></span>
					<i class="fa-solid fa-recycle"></i>
					<i class="fa-solid fa-trash"></i>

				</li>
			<% } %>
		</ul>
		<script src="js/main.js"></script>
    </body>