<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
        <link rel="stylesheet" href="css\style.css">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
	</head>
	    <body>
            <%- include('partials/apiFormat.ejs') %>
        <aside>
            <%- include('partials/navbar.ejs') %>
        </aside>
		<section>
			<h2>Accessing the API</h2>
            <h2>Return a Number of Random Questions</h2>
            <span>Send a GET request to: <br />
                <code>https://behavioural-recruitment.thewoodenman.repl.co/api/questions/random/:number</code></span></br>
            <span>replacing {number} in the URI with the number of random questions you'd like to get</span></br>
        </section>
        <section>
            <h2>Get a Question by ObjectId</h2>
            <span>Send a GET request to: <br />
                <code>https://behavioural-recruitment.thewoodenman.repl.co/api/questions/{id}</code></span></br>
			<span>replacing {id} in the URI with the ObjectId of your target question</span></br>
			<span>Object Ids are in the standard BSON format, you can find them specifically from other searches.</span></br>
 		</section>
         <section>
            <h2>Get a Question by a Single Value</h2>
            <span>Send a GET request to: <br />
                <code>https://behavioural-recruitment.thewoodenman.repl.co/api/questions/value/{value}</code></span></br>
			<span>replacing {value} in the URI with your target leadership value in string format</span></br>
			<span>Object Ids are in the standard BSON format.</span></br>
 		</section>
        <section>
            <h2>
                Submit a Question
            </h2>
            <span>Send a POST request to: <br />
                <code>https://behavioural-recruitment.thewoodenman.repl.co/api/questions/addone</code></span></br>
            <span>Omit the ObjectId in the JSON as these will be allocated automatically, </span></br>
            <span>Include the new question in JSON format correctly in the format displayed above.</span></br>
        </section>
        <section>
            <h2>
                Submit many Questions
            </h2>
            <span>Send a POST request to: <br />
                <code>https://behavioural-recruitment.thewoodenman.repl.co/api/questions/addmany</code></span></br>
            <span>Omit the ObjectId in the JSON as these will be allocated automatically, </span></br>
            <span>Include the new question in JSON format correctly in a different format to the one above, specifically: </span></br>
            <br>
            <pre><code>
                { "array" :[{
                    "question":
                        "{Insert Question Text Here}",
                    "values": [value1, value2, value3]
                },
                {
                    "question":
                        "{Insert Question Text 2 Here}",
                    "values": [value1, value2, value3]
                }]}
            </code></pre>
        </section>
        <section>
            <h2>
                Replace a Question
            </h2>
            <span>Send a POST request to: <br />
                <code>https://behavioural-recruitment.thewoodenman.repl.co/api/questions/{id}/replace</code></span></br>
            <span>replacing {id} in the URI with the ObjectId of your target question</span></br>
            <span>submit your replacement question in JSON format as the body of the POST request</span></br>
        </section>
        <section>
            <h2>
                Replace the values of a Question
            </h2>
            <span>Send a POST request to: <br />
                <code>https://behavioural-recruitment.thewoodenman.repl.co/api/questions/{id}/values/replace</code></span></br>
            <span>replacing {id} in the URI with the ObjectId of your target question</span></br>
            <span>submit your replacement values in JSON format, but as a series of strings within an array.</span>
            <span> as the body of the POST request</span></br>

            <code>{ "values": ["optimistic",
                "results oriented",
                "sense of humour",
                "speed",
                "versatility"]
            }</code>
        </section>
        <section>
            <h2>
                Delete a question by ObjectId
            </h2>
            <span>Send a DELETE request to: <br />
                <code>https://behavioural-recruitment.thewoodenman.repl.co/api/questions/{id}/delete</code></span></br>
            <span>replacing {id} in the URI with the ObjectId of your target question</span></br>
            <span>The api will target that question, delete it and either confirm or show an error</span>

            <code>{ "values": ["optimistic",
                "results oriented",
                "sense of humour",
                "speed",
                "versatility"]
            }</code>
        </section>
	</body>
</html>
