<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="css\style.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css"
		/>
		<script
			src="https://kit.fontawesome.com/e107b5abdd.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<%- include('partials/apiFormat.ejs') %>
		<aside><%- include('partials/navbar.ejs') %></aside>
		<h1>Submit a New Question</h1>
		<h2>Complete the fields then click Submit</h2>
		<p>
			question and answer must be a string, answered is a boolean and values is
			a series of strings separated by commas
		</p>
		<form action="/submitQuestion" method="POST">
			<input type="text" placeholder="question" name="question" />
			<input type="text" placeholder="values" name="values" />
			<input type="submit" />
		</form>
		<h2>Submitted Question</h2>
		<section>
			<%- include('partials/questionList.ejs') %>
		</section>
		<script src="js/main.js"></script>
	</body>
</html>
