<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Behavioural Recruitment RESTful API | Random Questions</title>
		<link rel="icon" type="image/png" href="images\unicorn_1f984.png" />
		<link rel="stylesheet" href="css\style.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css"
		/>
		<script
			src="https://kit.fontawesome.com/e107b5abdd.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<%- include('partials/apiFormat.ejs') %>
		<aside><%- include('partials/navbar.ejs') %></aside>
		<h1>Generate a List of Behavioural Questions</h1>

		<h3>Search for 10 Random Questions</h3>
		<span>The API will select 10 random questions from the database</span>

		<form action="/randomSearch">
			<input type="submit" name="randomSearch" value="Search Now" />
		</form>
		<section><%- include('partials/questionList.ejs') %></section>
		<script src="js/main.js"></script>
	</body>
</html>
