/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
}

code {
	text-align: left;
}

/******************************************
  /* LAYOUT
  /*******************************************/

body {
	text-align: left;
	padding: 0 0 0 20%;
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/

li,
a,
a:link {
	text-decoration: none;
	color: inherit;
	list-style: none;
}

aside {
	display: flex;
	flex-direction: column;
}

nav {
	position: fixed;
	top: 0px;
	left: 10px;
}
